@font-face {
  font-family: "OpenSansRegular";
  src: url("/css/fonts/OpenSansRegular/OpenSansRegular.eot");
  src: url("/css/fonts/OpenSansRegular/OpenSansRegular.eot?#iefix")format("embedded-opentype"),
  url("/css/fonts/OpenSansRegular/OpenSansRegular.woff") format("woff"),
  url("/css/fonts/OpenSansRegular/OpenSansRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

@font-face {
  font-family: "OpenSansLight";
  src: url("/css/fonts/OpenSansLight/OpenSansLight.eot");
  src: url("/css/fonts/OpenSansLight/OpenSansLight.eot?#iefix")format("embedded-opentype"),
  url("/css/fonts/OpenSansLight/OpenSansLight.woff") format("woff"),
  url("/css/fonts/OpenSansLight/OpenSansLight.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}